<html>
    <head>
        <title>Barge Location Data</title>
        <style>
            table {text-align: center;}
            tr:hover {background-color: #AAAA;cursor: pointer;}
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>Timestamp</td>
                <td>Latitude</td>
                <td>Longitude</td>
            </tr>
            {% for location in locations %}
                <tr>
                    <td>{{location.timestamp}}</td>
                    <td>{{location.latitude}}</td>
                    <td>{{location.longitude}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>