{% extends "base.html" %} 

{% block content %}
<div id="map" style="height: 500px;"></div>
</script>
<script type="text/javascript">
    var map;
    function newMarkerList(locations){
        for(var i = 0; i<locations.length; i++){
            newMarker(locations[i]);
        }
    }
    function newMarker(location){
        var tme = location.timestamp,
        lat = location.latitude,
        lng = location.longitude;
        return new google.maps.Marker({
            position: new google.maps.LatLng(lat , lng),
            map: map,
            title: "CMoG Glass Barge - " + tme
        });
    }
    function newFlightPath(path){
        var flightPath = new google.maps.Polyline({
            path: path,
            map: map,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        return flightPath;
    }
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 40.6956368611, lng: -74.0014109167 },
            zoom: 13
        });
        newMarkerList({{ locations|tojson }}.locations);
        newFlightPath({{ coords|tojson }}.coords);
        
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJsHty9TOmGII9BpYl7mxAFFLjcQlteZ4&callback=initMap"></script> 
{% endblock %}